@tailwind base;
@tailwind components;
@tailwind utilities;

Button.button-blue{
    background-color: rgb(0, 60, 255);
  }

  Button.button-blues{
    background-color: rgb(0, 60, 255);
    border-radius: 10px;
  }